# Ignora l'ambiente virtuale
laboratory/labenv/
theory/
# Ignora i file markdown dei report
docs/report.md

# Ignora i file all'interno delle directory specifiche dei laboratori
laboratory/labs/CI2024_lab0/
laboratory/labs/CI2024_lab1/
laboratory/labs/CI2024_lab2/
laboratory/labs/CI2024_lab3/
laboratory/labs/CI2024_lab4/
laboratory/labs/computational-intelligence/


# Ignora i file di output di Python
*.pyc
__pycache__/

# Ignora i file di configurazione locali
.vscode/
.idea/

# Ignora file e cartelle di backup o temporanei
*.bak
*.swp
.DS_Store
# Ignora i file di configurazione ambiente
.env
symbolic_regression
symbolic_regression_2
rl-sr
sr_test
sr_modular/data
sr_modular/scripts
sr_modular/experiments/